.Scroll {
    
    position: absolute;

    color: #000000;

    font-style: italic;

    letter-spacing: 0.05em;

    z-index: 2;

    right: 5%;

    bottom: 8.5%;

    width: 15vh;

    -moz-transform: rotate(90deg);
    
    -webkit-transform: rotate(90deg);
    
    transform: rotate(90deg);

}

.Scroll .ScrollHint {

    margin-left: 5px;
    
    margin-bottom: 5px;

    text-align: left;

    opacity: 0;

}

.Scroll .Line {

    stroke: rgba(0, 0, 0, 1);

    stroke-width: 3.5px;

    stroke-dasharray: 180;
    
    stroke-dashoffset: 180;

}

.ScrollBar {

    position: fixed;

    margin: 0;

    width: auto;
    
    height: 100%;

    right: 0%;

    top: 0%;

    z-index: 3;

    pointer-events: none;

}

.ViewIndicator {

    position: fixed;
    
    color: #000000;
    
    font-style: italic;
    
    font-size: -moz-calc(10px + (15 - 10)*(100vw - 900px) / (1440 - 900));
    
    font-size: -webkit-calc(10px + (15 - 10)*(100vw - 900px) / (1440 - 900));
    
    font-size: calc(10px + (15 - 10)*(100vw - 900px) / (1440 - 900));
    
    letter-spacing: 0.08em;
    
    z-index: 2;
    
    width: 150px;
    
    height: 50px;
    
    letter-spacing: 0.1em;
    
    user-select: none;
    
    -moz-transform: rotate(90deg);
    
    -webkit-transform: rotate(90deg);
    
    transform: rotate(90deg) translate(4.25em, 0.5em);

}

.ViewIndicator .CurrentView {

    position: absolute;
    
    top: 25%;
    
    left: 35px;

    opacity: 0.8;

}

.ViewIndicator .Line {
    
    stroke: rgb(0, 0, 0);

    stroke-width: 1.75px;

    stroke-dasharray: 18;

    stroke-dashoffset: 18;

    transform: translate(0px, 26.5px);

}

.ContactLinks {

    position: fixed;
    
    color: #000000;
    
    font-style: italic;
    
    letter-spacing: 0.05em;
    
    -moz-user-select: none;
    
    -webkit-user-select: none;
    
    user-select: none;
    
    z-index: 999999;
    
    width: 20%;
    
    height: 50px;
    
    bottom: 3%;
    
    display: flex;
    
    justify-content: space-between;
    
    flex-direction: row;
    
    left: 5.25%;
    
    -moz-transform: rotate(270deg);

    -webkit-transform: rotate(270deg);
    
    transform: rotate(270deg);
    
    transform-origin: center left 0;

}

.ContactLinks .Line {

    position: absolute;
    
    stroke: rgb(0, 0, 0);
    
    stroke-width: 1.75px;
    
    stroke-dasharray: 25;
    
    // stroke-dashoffset: 18;

    -moz-transform: translate(50%, 25%);

    -webkit-transform: translate(50%, 25%);
    
    transform: translate(50%, 25%);

}

.ContactContainer {

    position: absolute;
    
    left: 18%;

    height: 100%;

    width: fit-content;

}

.ContactContainer > * {

    position: relative;
        
    margin: 10px;

    top: 25.8%;

}

.Link {

    font-family: Arial;

    font-weight: 300;

    font-size: -moz-calc(12px + (15 - 12)*(100vw - 900px) / (1440 - 900));

    font-size: -webkit-calc(12px + (15 - 12)*(100vw - 900px) / (1440 - 900));
    
    font-size: calc(12px + (15 - 12)*(100vw - 900px) / (1440 - 900));

    color: rgb(0, 0, 0);

    text-decoration: none;

    cursor: none;

    opacity: 0.0;

}

.ContactLink {

    font-family: Arial;

    font-weight: 300;
    
    font-size: -moz-calc(12px + (15 - 12)*(100vw - 900px) / (1440 - 900));

    font-size: -webkit-calc(12px + (15 - 12)*(100vw - 900px) / (1440 - 900));
    
    font-size: calc(12px + (15 - 12)*(100vw - 900px) / (1440 - 900));

    color: rgb(0, 0, 0);

    text-decoration: none;

    cursor: none;

    opacity: 0.0;

    transition: letter-spacing 0.2s ease-in-out 0.08s;

}

.ContactLink:hover {

    letter-spacing: 0.15em;

}
