.LandingPage {

    position: relative;
    
    z-index: 1;
    
    width: 100vw;

    height: 100vh;

    top: 0;

    left: 0;

    display: flex;

    -webkit-box-align: center;

    -webkit-box-pack: center;

    align-items: center;

    justify-content: center;

    text-align: center;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

    flex-direction: row;

}

.LandingPage .Greeting {

    position: absolute;
   
    font-family: Arial;
   
    font-weight: 900;
   
    color: #000000;
   
    top: 15%;
   
    left: 12.5%;

    font-size: -moz-calc(14px + (20 - 14)*(100vw - 900px) / (1440 - 900));
   
    font-size: -webkit-calc(14px + (20 - 14)*(100vw - 900px) / (1440 - 900));
   
    font-size: calc(14px + (20 - 14)*(100vw - 900px) / (1440 - 900));
      
    z-index: 2;

}

.LandingPage .Greeting h1 {

    margin: 0;

}

.LandingPage .Title {

    position: absolute;
    
    font-family: Arial;
    
    font-weight: 900;
    
    color: #000000;
    
    text-align: left;
    
    top: 38.5%;
    
    left: 12.5%;
    
    font-size: -moz-calc(18px + (22 - 18)*(100vw - 900px) / (1440 - 900));
    
    font-size: -webkit-calc(18px + (22 - 18)*(100vw - 900px) / (1440 - 900));
    
    font-size: calc(18px + (22 - 18)*(100vw - 900px) / (1440 - 900));
    
    letter-spacing: 0.35em;
    
    -moz-user-select: none;

    -webkit-user-select: none;

    user-select: none;    
    
    z-index: 2;

}

.LandingPage .Title h1 {

    margin: 0;

}

.Intro {

    position: absolute;
    
    top: 50%;
    
    left: 12.5%;

    // width: 25%;
    
    color: #000000;
    
    font-size: -moz-calc(14px + (18 - 14)*(100vw - 900px) / (1440 - 900));
    
    font-size: -webkit-calc(14px + (18 - 14)*(100vw - 900px) / (1440 - 900));
    
    font-size: calc(14px + (18 - 14)*(100vw - 900px) / (1440 - 900));

    text-align: left;
    
    letter-spacing: 0.15em;
    
    -moz-user-select: none;

    -webkit-user-select: none;

    user-select: none;
    
    z-index: 2;

}

.Intro > * {

    margin-bottom: 5px;

}