.Navigation {

    position: fixed;

    z-index: 5;

    height: 100%;

    width: 100%;

    top: 0;

    left: 0;

    pointer-events: none;

}

.NavCircle {

    position: fixed;

    width: 100%;

    height: 100%;

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    pointer-events: none;

}