.Project {

    position: relative;

    z-index: 1;

    width: 100vw;

    height: 100vh;

    top: 0;

    left: 0;

    display: flex;

    -webkit-box-align: center;

    -webkit-box-pack: center;

    align-items: center;

    justify-content: center;

    text-align: center;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

    flex-direction: column;

    will-change: transform;

}

.Project .Title {

    position: absolute;

    font-family: Arial;
    
    top: 12.5%;
    
    font-size: -moz-calc(30px + (48 - 30)*(100vw - 900px) / (1440 - 900));

    font-size: -webkit-calc(30px + (48 - 30)*(100vw - 900px) / (1440 - 900));
    
    font-size: calc(30px + (48 - 30)*(100vw - 900px) / (1440 - 900));
    
    letter-spacing: 0.1em;
    
    left: 15.0%;
    
    opacity: 0.0;
    
    width: max-content;
    
}

.Project .Title h2 {

    margin: 0;

}

.LineContainer .Line {

    stroke: rgb(0, 0, 0);

    stroke-width: 2px;

    stroke-dasharray: -100;

}

.Project .CopyContainer {

    width: 100%;
    
    height: 80vh;
    
    // top: 23%;
    
    text-align: left;
    
    position: absolute;
    
    z-index: 3;
    
    pointer-events: none;

}

.Project .Description {
    
    font-size: -moz-calc(12px + (17.25 - 12)*(100vw - 900px) / (1440 - 900));

    font-size: -webkit-calc(12px + (17.25 - 12)*(100vw - 900px) / (1440 - 900));
    
    font-size: calc(12px + (17.25 - 12)*(100vw - 900px) / (1440 - 900));
    
    letter-spacing: 0.05em;
    
    opacity: 0.0;
    
    position: absolute;
    
    right: 15%;
    
    top: 77.5%;
    
    // width: 22.75%;
    
    width: fit-content;
    
    display: flex;
    
    flex-direction: row-reverse;
    
    align-items: flex-end;
    
    justify-content: space-around;
    
    // justify-content: space-between;
    
    will-change: opacity;

}

.Project .ProjectInfo {

    position: absolute;
    
    display: flex;
    
    flex-direction: column;
    
    width: 25.15%;
    
    left: 15.25%;
    
    top: 77.5%;

}

.Project .ProjectInfo > * {

    font-size: -moz-calc(12px + (14 - 12)*(100vw - 900px) / (1440 - 900));

    font-size: -webkit-calc(12px + (14 - 12)*(100vw - 900px) / (1440 - 900));
    
    font-size: calc(12px + (14 - 12)*(100vw - 900px) / (1440 - 900));
    
    letter-spacing: 0.05em;
    
    will-change: opacity;
    
    font-style: italic;
    
    position: relative;
    
    opacity: 1.0;

    margin: 4px;

}

.Project .ProjectVid {

    position: relative;

    width: 94.5vh;
    
    height: 54vh;

    overflow: hidden;

    z-index: -1;

}


.Project .ProjectVid video {
    
    opacity: 1.0;

    will-change: opacity;

    width: 100%;

    height: 100%;

}

// .ProjectVid {

//     position: relative;

//     width: 94.5vh;
    
//     height: 54vh;

//     z-index: 5;

// }

// .ProjectVid .VideoContainer {

//     position: absolute;

//     top: 0;

//     left: 0;

//     width: 100%;

//     height: 100%;

//     overflow: hidden;

// }


// .ProjectVid video {

//     // object-fit: contain;
    
//     object-fit: cover;

//     opacity: 1.0;

//     will-change: opacity;

//     width: 100%;

//     height: 100%;

// }

.LetterBoxContainer {

    position: absolute;

    width: 95.5vh;

    height: 55vh;

    pointer-events: none;

}

.ProjectNumb {

    position: absolute;
    
    font-size: -moz-calc(10px + (15 - 10)*(100vw - 900px) / (1440 - 900));

    font-size: -webkit-calc(10px + (15 - 10)*(100vw - 900px) / (1440 - 900));
    
    font-size: calc(10px + (15 - 10)*(100vw - 900px) / (1440 - 900));
    
    left: 13.75%;
    
    top: 5.0%;
    
    opacity: 0;
    
    width: fit-content;
    
    display: flex;

    flex-direction: row-reverse;

    align-items: flex-end;

    justify-content: space-between;

}

.ProjectNumb p {

   margin: 0;

   opacity: 0.7;

}

.Project .ProjectLink {

    position: absolute;

    opacity: 0;

    right: 15.0%;

    top: 83.5%;

    width: fit-content;

    display: flex;

    flex-direction: row-reverse;

    align-items: flex-end;

    justify-content: space-between;

    z-index: 2;

}

.ProjectLink .Link {

    font-family: Arial;

    font-weight: 300;

    font-size: -moz-calc(10px + (15 - 10)*(100vw - 900px) / (1440 - 900));

    font-size: -webkit-calc(10px + (15 - 10)*(100vw - 900px) / (1440 - 900));
    
    font-size: calc(10px + (15 - 10)*(100vw - 900px) / (1440 - 900));

    opacity: 1.0;

}

.ProjectLink p {

    margin: 0;

}